%section
  .row
    .span16
      - unless signed_in?
        %h3 Sign in first to explore the provider's API
        %p= link_to "Sign in with OAuth 2 provider", user_omniauth_authorize_path(:doorkeeper), :class => "btn primary"
      - else
        %h2 Explore the api
        .well
          = link_to "My Credentials", explore_api_path(:me, :format => :json), :class => "btn", "data-explore" => []
          = link_to "Profiles", explore_api_path(:profiles, :format => :json), :class => "btn", "data-explore" => []
          = link_to "Sign out", destroy_user_session_path, :class => "btn primary"
          You are logged in as
          = current_user.email

        %p
          %pre#display-json
            Select one of the api methods above

