!!! 5
%html
  %head
    %title Doorkeeper Oauth Client (Devise + Omniauth)
    = stylesheet_link_tag    "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"
    = stylesheet_link_tag    "application"
    = csrf_meta_tags
  %body
    .topbar
      .fill
        .container
          = link_to "Doorkeeper Oauth Client (Devise + Omniauith)", root_path, :class => "brand"
    .container
      = yield
    = javascript_include_tag "application"
    = javascript_include_tag "http://twitter.github.com/bootstrap/1.4.0/bootstrap-buttons.min.js"
